body {
  background-color: #eed8c0 !important;
}
img.app-logo {
  width: 200px;
}
form.form-inline {
  width: 30rem;
}
main {
  min-height: 50vh;
}
main .alert {
  background-color: #1c2833;
}
main .list-group-item {
  background-color: #ffecd8;
}
main .spinner-border {
  width: 5rem;
  height: 5rem;
}
main .fas.fa-utensils {
  margin-right: 0.7rem;
  transform: rotate(45deg);
}
main .fas.fa-sort-alpha-up,
main .fas.fa-sort-alpha-down {
  margin-right: 1rem;
  font-size: 1.4rem;
}
img.recipe-thumb {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 1rem;
}